/* google font url */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* common style */
body{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

/* header section */
.head{
    margin: 20px 0;
}

/* form calculation section  */
.calculation{
    padding: 15px 0;
}

.calculator-site{
    background-color: #F8F8F8;
    padding: 10px 0;
} 
 
 input{
    background-color:#DCDCDC;
    outline: 0;
    border: none;
    margin: 10px 0;
    Height:30px;
}
button{
    Width:100px;
    Height:30px;
    border: none;
    background-color: #59A5FF;
    margin: 10px 0;
}